
@import url(http://fonts.googleapis.com/css?family=Bungee+Hairline);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #0067c8;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
}
#app {
  height: 100%;
}
a {
  color: #4e4a46;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c94e50;
}
main {
  height: 100%;
  width: 100%;
  text-align: center;
  background: #e9f0f5;
  overflow: scroll;
}
h1 {
  font-weight: 800;
  font-size: 3.75em;
}
h2 {
  margin: 0 auto;
  padding: 1em 1em 1em;
  color: #838383;
  
}
h2 i {
  margin-left: 0.2em;
}
h2 span {
  font-family: 'Bungee Hairline';
  font-size: 1.6em;
  font-weight: 700;
}
.panel {
  background: #FFFFFF;
  height: 100%;
  width: 100%;
}
.description {
  max-width: 20em;
  margin: 1.2em auto 1em;
  line-height: 1.3em;
  font-weight: 400;
}