{
  "presets": [
    "meteor",
    "env",
    "stage-2"
  ],
  "plugins": [
    "transform-object-rest-spread",
    "transform-decorators-legacy",
    "transform-class-properties",
    "react-require", 
    "babel-root-slash-import"
  ]
}
